<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.24.4" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.20" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.4.1.1101" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.109.1" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net461" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net461" />
  <package id="Unity" version="5.8.6" targetFramework="net461" />
</packages>